input[type=number].blockStyled::-webkit-inner-spin-button, input[type=number].blockStyled::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.blockStyled {
    text-align: center;
    margin: 2px;
}